* {box-sizing: border-box;}

html {}

body {
  background-color: $navy;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: $offwhite;
  font-size: 16px;
}

h1,h2,h3,h4 {
  color: $coral;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  margin: 1rem 0;
}

h1 {font-size: 3.998rem;}
h2 {font-size: 2.827rem;}
h3 {font-size: 1.999rem;}
h4 {font-size: 1.414rem;}
h5 {font-size: 1rem;}
h6 {font-size: 0.707rem;}